{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Guzzle</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/accountPage.css' %}">
    
</head>
<body>
    <div id="header">
        <div id="post-container">
            <a href="{% url 'createRecipe' %}" id="post-button-wrapper">
                <button id="post-button">
                    +
                </button>
            </a>
        </div>
        <div id="title-container">
            <a href="{% url 'home' %}" id="main-title">Guzzle</a>
        </div>
        <div id="account-container">
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Log in</a>
        </div>

    </div>
    <div id="content">
        <h1>{{ errorMessage }}</h1>
    </div>

</body>
</html>
